@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background: #201f21;
    /* background: linear-gradient(to right, rgb(38,40,44),rgb(24, 21, 21)); */
    /* width: 100%; */
    font-family: 'Inter', sans-serif;
}

.main-content {
  /* width: 80%; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.intro {
    width: 40%;
    /* height: 60vh; */
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.intro_text1 {
    color: rgb(253,199,147);
    font-size: 3rem;
    /* text-transform: lowercase; */
    word-wrap: normal;
    margin: 0 0 50px 0;
}

.intro_text2 {
    font-size: 2rem;
    margin: 20px 0 50px 0;
    color: #fff;
}

.enterButton {
    padding: 10px 80px;
    margin: 120px 0 0 0;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    animation: animButton 2.5s ;
    animation-delay: 5s;
    border-radius: 63px;
    background: transparent;
    transition: 0.3s;
    box-shadow:  5px 5px 5px #111314,
             -5px -5px 5px #2f3136;
}

.enterButton:hover {
  color: rgb(255, 169, 89);
}

  /* @keyframes animButton { 
    from{ opacity:0;} 
    to{opacity:1; }
  }  */

.neuMenu {
  margin: 50px 0 0 0;
} 

.neuMenu-frame {
  width: 500px;
  height: 700px;
  border-radius: 50px;
  /* background: linear-gradient(-45deg, #0d0d0e, rgba(255, 255, 255, 0.062)); */
  box-shadow:   15px 15px 25px #111314,
                 -15px -15px 25px #2f3136,
                 inset 5px 5px 5px #111314,
                 inset -5px -5px 5px #2f3136;
}

.neuMenu-frame:hover {
  
    transition: 1s;
    
}

.neuMenu-frame-title {
  /* height: 50px; */
  color: rgb(99, 99, 99);
  font-size: 1.5rem;
  letter-spacing: 10;
  text-align: center;
  padding: 25px;
  background: rgba(12, 12, 12, 0.342);
  border-radius: 50px 50px 0 0;
  box-shadow: inset -5px -5px 5px #1e1e1f;
}

.neuMenu-frame_content {
  height: calc(100% - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}


.neuMenu-frame_content_circle_big {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #151516;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  box-shadow:   15px 15px 25px #111314,
                 -15px -15px 25px #2f3136,
                 inset 5px 5px 5px #111314,
                 inset -5px -5px 5px #2f3136;
}

.neuMenu-frame_content_circle_smaller {
  background: #201f21;
  background: rgb(255, 169, 89);
  background: radial-gradient(rgb(255, 169, 89), rgb(255, 0, 0));

  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow:   15px 15px 25px #111314,
                 -15px -15px 25px #2f3136,
                 inset 5px 5px 5px #111314,
                 inset -5px -5px 5px #2f3136;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  animation: dash 2s linear infinite;
  stroke-dasharray: 100;
  stroke-dashoffset: 200;
}

#loader svg {
  fill: #fff;
}

@keyframes dash {
    100% { 
      stroke-dashoffset: 0; 
    }
  }



